.insurance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}

.thirds {
  display: flex;
  justify-content: space-evenly;
}

.thirdsies {
  width: 31vw;
  flex-wrap: wrap;
  padding: 0 5px;
}
#ltc {
  border-left: 1.5px solid rgb(65, 79, 159);
  border-right: 1.5px solid rgb(65, 79, 159);
}
.enough {
  margin-top: 30px;
  margin-left: 25%;
  width: 50%;
  border-top: 1.5px solid rgb(65, 79, 159);
}

.pts{
  display: flex;
  justify-content: space-evenly;
}

.pt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  gap: 15px;
}

.perm {
  border: 1.5px solid rgb(65, 79, 159);
  border-radius: 10px;
  padding: 10px;
  max-width: 75%;
}
.term {
  border: 5px dotted rgb(65, 79, 159);
  border-radius: 10px;
  padding: 10px;
  width: 70%;
}

.choice1 {
  display: flex;
  justify-content: space-between;
}
