.midTerm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin-bottom: 200px;
  }

  .half {
    width: 50vw;
    margin: auto
  }

  .h{
    width: 50vw;
  }