.midTerm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}

.h {
  margin: auto;
  width: 50vw;
}

.half ol {
  display: flex;
  flex-direction: column;
}
.h ol {
  display: flex;
  flex-direction: column;
}
