.wep{
    position: relative;
    top: 100px;
    margin-bottom: 200px;
  }

  .noWill{
    display: flex;
    justify-content: center;
   
  } 

  .noWealth{
    display: flex;
    justify-content: space-evenly;
  }
  .thirdss{
    width: 33vw;
    flex-wrap: wrap;
    padding: 0 10px;
  }