.wep {
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}

.free2 {
  display: flex;
  justify-content: center;
}

.free {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.noWealth {
  display: flex;
  justify-content: space-evenly;
}
.thirdss {
  width: 33vw;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 10px 0;
}
#think {
  border-left: 1.5px solid rgb(65, 79, 159);
  border-right: 1.5px solid rgb(65, 79, 159);
}
